@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table id="latabla" class="table-striped table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Descripcion
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts{
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var tabla = $("#latabla").DataTable({
            "ajax": {
                "url": "/Home/GetAll",
                "type": "get",
                "databyte": "json"

            }, "columns": [
                { "data": "idPersona", "name": "idPersona", "autoWidth": true },
                { "data": "nombrePersona", "name": "nombrePersona", "autoWidth": true },
                { "data": "edadPersona", "name": "edadPersona", "autoWidth": true },
                { "data": "descripcionPersona", "name": "descripcionPersona", "autoWidth": true }
            ]
        });
    });
</script>
 }
